.abc {
    position: relative;
    /*margin-top: -20px;*/
}
    .abc::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -17px;
        height: 1px;
        background-color: #6073A2;
    }
    .abc__scroll {

    }
        .abc__ribbon {
            display: flex;
            margin-left: -5px;
            margin-right: -5px;
        }
            .abc__item {
                position: relative;
                flex-grow: 1;
                flex-basis: 0;
                background-color: transparent;
                border: none;
                padding-top: 5px;
                padding-bottom: 5px;
                border-radius: 2px;
                font-family: var(--font-heading);
                font-weight: 600;
                font-size: 28px;
                line-height: 32px;
                color: #303F64;
                text-transform: uppercase;
                cursor: pointer;
            }
                .abc__item::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 50%;
                    top: 50%;
                    margin-left: -14px;
                    margin-top: -20px;
                    width: 28px;
                    height: 41px;
                    border-radius: 2px;
                }

                .abc__item:hover::before {
                    background-color: rgb(255 255 255 / 50%);
                }

                .abc__item--current::before,
                .abc__item--current:hover::before {
                    background-color: #FFFFFF;
                }



@media (1700px <= width) {

    .abc {
        /*margin-top: -21px;*/
    }
        .abc__scroll {

        }
            .abc__ribbon {

            }
                .abc__item {
                    /*position: relative;*/
                    /*flex-grow: 1;*/
                    /*flex-basis: 0;*/
                    /*background-color: transparent;*/
                    /*border: none;*/
                    padding-top: 7px;
                    padding-bottom: 7px;
                    /*border-radius: 2px;*/
                    /*font-family: var(--font-heading);*/
                    /*font-weight: 600;*/
                    font-size: 32px;
                    line-height: 36px;
                    /*color: #303F64;*/
                    /*text-transform: uppercase;*/
                    /*cursor: pointer;*/
                }
                    .abc__item::before {
                        /*content: "";*/
                        /*position: absolute;*/
                        /*z-index: -1;*/
                        /*left: 50%;*/
                        /*top: 50%;*/
                        margin-left: -17px;
                        margin-top: -25px;
                        width: 34px;
                        height: 50px;
                        /*border-radius: 2px;*/
                    }

                    .abc__item:hover::before {
                        /*background-color: rgb(255 255 255 / 50%);*/
                    }

                    .abc__item--current::before {
                        /*background-color: #FFFFFF;*/
                    }
}



@media (width < 740px) {

    .abc {
        /*margin-top: -27px;*/
    }
        .abc__scroll {
            overflow-x: auto;
            margin-left: calc(-1 * var(--container-padding));
            margin-right: calc(-1 * var(--container-padding));
            padding-left: var(--container-padding);
            padding-right: var(--container-padding);
        }
            .abc__ribbon {
                display: inline-flex;
            }
                .abc__item {
                    /*position: relative;*/
                    /*flex-grow: 1;*/
                    flex-shrink: 0;
                    /*background-color: transparent;*/
                    /*border: none;*/
                    padding: 2px 8px;
                    /*border-radius: 2px;*/
                    /*font-family: var(--font-heading);*/
                    /*font-weight: 600;*/
                    font-size: 20px;
                    line-height: 22px;
                    /*color: #303F64;*/
                    /*text-transform: uppercase;*/
                    /*cursor: pointer;*/
                }
                    .abc__item::before {
                        /*content: "";*/
                        /*position: absolute;*/
                        /*z-index: -1;*/
                        /*left: 50%;*/
                        /*top: 50%;*/
                        margin-left: -12px;
                        margin-top: -16px;
                        width: 24px;
                        height: 32px;
                        /*border-radius: 2px;*/
                    }

                    .abc__item:hover::before {
                        /*background-color: rgb(255 255 255 / 50%);*/
                    }

                    .abc__item--current::before,
                    .abc__item--current:hover::before {
                        /*background-color: #FFFFFF;*/
                    }


                /* Правый паддинг: */
                .abc__ribbon::after {
                    content: "";
                    width: calc(var(--container-padding) - 5px);
                    height: auto;
                }
}


