.article {
    max-width: 800px;
}
    .article__heading {

    }

    .article__date {
        margin-top: 20px;
        display: block;
        font-size: 18px;
        line-height: 25px;
        color: #6073A2;
    }

    .article__content {
        margin-top: 40px;
    }

    /* На странице тура */
    .article__spectacle {
        margin-top: 60px;
    }



@media (1700px <= width) {

    .article {
        max-width: 1148px;
    }
        .article__heading {

        }

        .article__date {
            margin-top: 24px;
            /*display: block;*/
            font-size: 20px;
            line-height: 27px;
            /*color: #6073A2;*/
        }

        .article__content {
            /*margin-top: 40px;*/
        }


        /* На странице тура */
        .article__spectacle {
            margin-top: 80px;
        }
}



@media (width < 740px) {

    .article {
        /*max-width: 800px;*/
    }
        .article__heading {

        }

        .article__date {
            margin-top: 20px;
            /*display: block;*/
            /*font-size: 18px;*/
            /*line-height: 25px;*/
            /*color: #6073A2;*/
        }

        .article__content {
            margin-top: 24px;
        }


        /* На странице тура */
        .article__spectacle {
            margin-top: 40px;
        }
}


