.carousel {

}
    .carousel__controls {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .carousel__pagination {
            width: auto;
        }

        .carousel__button {

        }

        .carousel__button--prev {

        }

        .carousel__button--next {

        }

        .carousel__button--disabled {
            background-color: transparent;
            opacity: 50%;
            cursor: default;
            transition: none;
        }



.carousel--css-default-pagination-fraction {

}
    .carousel--css-default-pagination-fraction .carousel__pagination {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        white-space: nowrap;
    }



.carousel--css-default-arrows-on-smartphone {

}

@media (width < 740px) {

    .carousel--css-default-arrows-on-smartphone {
        position: relative;
    }

    .carousel--css-default-arrows-on-smartphone .carousel__controls {

    }
        .carousel--css-default-arrows-on-smartphone .carousel__button {
            position: relative;
            width: 54px;
            height: 44px;
            padding: 0;
            border: none;
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
        }

        .carousel--css-default-arrows-on-smartphone .carousel__button--prev {

        }

        .carousel--css-default-arrows-on-smartphone .carousel__button--next {

        }
            /* Иконка стрелочки: */
            .carousel--css-default-arrows-on-smartphone .carousel__button::before {
                content: "";
                position: absolute;
                inset: 0;
                margin: auto;
                width: 27px;
                height: 17px;
            }

            .carousel--css-default-arrows-on-smartphone .carousel__chevron {

            }

            .carousel--css-default-arrows-on-smartphone .carousel__button--prev::before {
                background-image: url("../vectors/swiper-slide-left.svg");
            }

            .carousel--css-default-arrows-on-smartphone .carousel__button--next::before {
                background-image: url("../vectors/swiper-slide-right.svg");
            }
}





.carousel--css-skin-day {
    position: relative;
    padding: 39px 98px 40px;
}
    .carousel--css-skin-day .carousel__widget {

    }
        .carousel--css-skin-day .swiper {

        }
            .carousel--css-skin-day .swiper-wrapper {

            }


    .carousel--css-skin-day .carousel__controls {

    }
        .carousel--css-skin-day .carousel__button {
            position: absolute;
            top: 164px;
            width: 70px;
            height: 70px;
            padding: 0;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color var(--transition-hover);
        }

        .carousel--css-skin-day .carousel__button:hover {
            background-color: #303F64;
        }

        .carousel--css-skin-day .carousel__button--prev {
            left: 14px;
        }

        .carousel--css-skin-day .carousel__button--next {
            right: 14px;
        }
            .carousel--css-skin-day .carousel__chevron {
                vertical-align: top;
                width: 26px;
                height: auto;
                stroke: #303F64;
                transition: stroke var(--transition-hover);
            }

            .carousel--css-skin-day .carousel__button--prev .carousel__chevron {
                margin-right: 4px;
            }

            .carousel--css-skin-day .carousel__button--next .carousel__chevron {
                margin-left: 4px;
            }

            .carousel--css-skin-day .carousel__button:not(.carousel__button--disabled):hover .carousel__chevron {
                stroke: #EBD7B2;
            }




@media (1700px <= width) {

    .carousel--css-skin-day {
        padding: 50px 94px 60px;
    }
        .carousel--css-skin-day .carousel__widget {

        }
            .carousel--css-skin-day .swiper {

            }
                .carousel--css-skin-day .swiper-wrapper {

                }


        .carousel--css-skin-day .carousel__controls {

        }
            .carousel--css-skin-day .carousel__button {
                top: 222px;
            }

            .carousel--css-skin-day .carousel__button:hover {

            }

            .carousel--css-skin-day .carousel__button--prev {
                left: 12px;
            }

            .carousel--css-skin-day .carousel__button--next {
                right: 12px;
            }
                .carousel--css-skin-day .carousel__chevron {

                }

                .carousel--css-skin-day .carousel__button--prev .carousel__chevron {

                }

                .carousel--css-skin-day .carousel__button--next .carousel__chevron {

                }

                .carousel--css-skin-day .carousel__button:not(.carousel__button--disabled):hover .carousel__chevron {

                }
}



@media (width < 740px) {

    .carousel--css-skin-day {
        padding: 24px 24px 0;
    }
        .carousel--css-skin-day .carousel__widget {

        }
            .carousel--css-skin-day .swiper {

            }
                .carousel--css-skin-day .swiper-wrapper {
                    padding-bottom: 1px; /* был странный визуальный баг, когда обрезалась половинка бордюра */
                }


        .carousel--css-skin-day .carousel__controls {
            margin-top: 16px;
            display: flex;
            justify-content: center;
        }
            .carousel--css-skin-day .carousel__button {
                flex-shrink: 0;
                position: static;
                width: 40px;
                height: 60px;
            }

            .carousel--css-skin-day .carousel__button:hover {
                background-color: transparent;
            }

            .carousel--css-skin-day .carousel__button--prev {

            }

            .carousel--css-skin-day .carousel__button--next {

            }
                .carousel--css-skin-day .carousel__chevron {
                    width: 11px;
                }

                .carousel--css-skin-day .carousel__button--prev .carousel__chevron {
                    margin-right: -15px;
                }

                .carousel--css-skin-day .carousel__button--next .carousel__chevron {
                    margin-left: -15px;
                }

                .carousel--css-skin-day .carousel__button:not(.carousel__button--disabled):hover .carousel__chevron {
                    stroke: #303F64;
                }

                .carousel--css-skin-day .carousel__pagination {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto; /* конфликт со стилями свайпера */
                    /* На случай типа fraction: */
                    font-size: 15px;
                    line-height: 20px;
                    color: currentColor;
                    text-align: center;
                }
                    .carousel--css-skin-day .carousel__bullet {
                        flex-shrink: 0;
                        width: 24px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                        .carousel--css-skin-day .carousel__bullet::after {
                            content: "";
                            display: block;
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            background-color: transparent;
                            border: 1px solid #303F64;
                        }

                        .carousel--css-skin-day .carousel__bullet--current::after {
                            background-color: #303F64;
                        }
}



.carousel--css-skin-dates {

}

/* На десктопах включится masonry */
@media (740px <= width) {

    .carousel--css-skin-dates {

    }
        .carousel--css-skin-dates .carousel__widget {

        }
            .carousel--css-skin-dates .swiper {

            }
                .carousel--css-skin-dates .swiper-wrapper {

                }
                    .carousel--css-skin-dates .swiper-slide {
                        width: 284px !important;
                        height: auto !important;
                        margin-bottom: 16px;
                    }


        .carousel--css-skin-dates .carousel__controls {
            display: none;
        }
}


@media (1700px <= width) {

    .carousel--css-skin-dates {

    }
        .carousel--css-skin-dates .carousel__widget {

        }
            .carousel--css-skin-dates .swiper {

            }
                .carousel--css-skin-dates .swiper-wrapper {

                }
                    .carousel--css-skin-dates .swiper-slide {
                        width: 342px !important;
                        margin-bottom: 24px;
                    }
}




.carousel--css-skin-photo-gallery {

}

@media (740px <= width) {

    .carousel--css-skin-photo-gallery .carousel__controls {
        display: none;
    }

    .carousel--css-skin-photo-gallery .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
    }

    @media (1700px <= width) {

        .carousel--css-skin-photo-gallery .swiper-wrapper {
            gap: 24px;
        }
    }
}



.carousel--css-skin-video-gallery {

}

@media (740px <= width) {

    .carousel--css-skin-video-gallery .carousel__controls {
        display: none;
    }

    .carousel--css-skin-video-gallery .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
    }

    @media (1700px <= width) {

        .carousel--css-skin-video-gallery .swiper-wrapper {
            gap: 24px;
        }
    }
}
