.carousel {

}

/* Довольно запарно выключать слайдер на десктопах скриптом.
   Проще перебить пару стилей:
 */
.carousel--css-disable-on-desktop {

}

@media (740px <= width) {

    .carousel--css-disable-on-desktop {

    }
        .carousel--css-disable-on-desktop .carousel__widget .swiper {
            overflow: visible;
        }
            .carousel--css-disable-on-desktop .carousel__widget .swiper-wrapper {
                height: auto !important;
                transform: none !important;
            }
                .carousel--css-disable-on-desktop .swiper-slide {
                    width: auto !important;
                    margin: 0 !important;
                }

        .carousel--css-disable-on-desktop .carousel__pagination {
            display: none;
        }
}



/* Default arrows */

.carousel--css-skin-day {
    position: relative;
    padding: 39px 98px 40px;
}
    .carousel--css-skin-day .carousel__widget {

    }
        .carousel--css-skin-day .swiper {

        }
            .carousel--css-skin-day .swiper-wrapper {

            }


    .carousel--css-skin-day .carousel__controls {

    }
        .carousel--css-skin-day .carousel__button {
            position: absolute;
            top: 164px;
            width: 70px;
            height: 70px;
            padding: 0;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border-radius: 50%;
            cursor: pointer;
            transition: background-color var(--transition-hover);
        }

        .carousel--css-skin-day .carousel__button:hover {
            background-color: #303F64;
        }

        .carousel--css-skin-day .carousel__button--disabled,
        .carousel--css-skin-day .carousel__button--disabled:hover {
            background-color: transparent;
            opacity: 50%;
            cursor: default;
            transition: none;
        }

        .carousel--css-skin-day .carousel__button--prev {
            left: 14px;
        }

        .carousel--css-skin-day .carousel__button--next {
            right: 14px;
        }
            .carousel--css-skin-day .carousel__chevron {
                vertical-align: top;
                width: 26px;
                height: auto;
                stroke: #303F64;
                transition: stroke var(--transition-hover);
            }

            .carousel--css-skin-day .carousel__button--prev .carousel__chevron {
                margin-right: 4px;
            }

            .carousel--css-skin-day .carousel__button--next .carousel__chevron {
                margin-left: 4px;
            }

            .carousel--css-skin-day .carousel__button:not(.carousel__button--disabled):hover .carousel__chevron {
                stroke: #EBD7B2;
            }




@media (1700px <= width) {

    .carousel--css-skin-day {
        /*position: relative;*/
        padding: 50px 94px 60px;
    }
        .carousel--css-skin-day .carousel__widget {

        }
            .carousel--css-skin-day .swiper {

            }
                .carousel--css-skin-day .swiper-wrapper {

                }


        .carousel--css-skin-day .carousel__controls {

        }
            .carousel--css-skin-day .carousel__button {
                /*position: absolute;*/
                top: 222px;
                /*width: 70px;*/
                /*height: 70px;*/
                /*padding: 0;*/
                /*border: none;*/
                /*display: flex;*/
                /*align-items: center;*/
                /*justify-content: center;*/
                /*background-color: transparent;*/
                /*border-radius: 50%;*/
                /*cursor: pointer;*/
                /*transition: background-color var(--transition-hover);*/
            }

            .carousel--css-skin-day .carousel__button:hover {
                /*background-color: #303F64;*/
            }

            .carousel--css-skin-day .carousel__button--disabled,
            .carousel--css-skin-day .carousel__button--disabled:hover {
                /*background-color: transparent;*/
                /*opacity: 50%;*/
                /*cursor: default;*/
                /*transition: none;*/
            }

            .carousel--css-skin-day .carousel__button--prev {
                left: 12px;
            }

            .carousel--css-skin-day .carousel__button--next {
                right: 12px;
            }
                .carousel--css-skin-day .carousel__chevron {
                    /*vertical-align: top;*/
                    /*stroke: #303F64;*/
                    /*transition: stroke var(--transition-hover);*/
                }

                .carousel--css-skin-day .carousel__button--prev .carousel__chevron {
                    /*margin-right: 4px;*/
                }

                .carousel--css-skin-day .carousel__button--next .carousel__chevron {
                    /*margin-left: 4px;*/
                }

                .carousel--css-skin-day .carousel__button:not(.carousel__button--disabled):hover .carousel__chevron {
                    /*stroke: #EBD7B2;*/
                }
}



@media (width < 740px) {

    .carousel--css-skin-day {
        /*position: relative;*/
        padding: 24px 24px 0;
    }
        .carousel--css-skin-day .carousel__widget {

        }
            .carousel--css-skin-day .swiper {

            }
                .carousel--css-skin-day .swiper-wrapper {

                }


        .carousel--css-skin-day .carousel__controls {
            margin-top: 16px;
            display: flex;
            justify-content: center;
        }
            .carousel--css-skin-day .carousel__button {
                flex-shrink: 0;
                position: static;
                /*top: 164px;*/
                width: 40px;
                height: 60px;
                /*padding: 0;*/
                /*border: none;*/
                /*display: flex;*/
                /*align-items: center;*/
                /*justify-content: center;*/
                /*background-color: transparent;*/
                /*border-radius: 50%;*/
                /*cursor: pointer;*/
                /*transition: background-color var(--transition-hover);*/
            }

            .carousel--css-skin-day .carousel__button:hover {
                background-color: transparent;
            }

            .carousel--css-skin-day .carousel__button--disabled,
            .carousel--css-skin-day .carousel__button--disabled:hover {
                /*background-color: transparent;*/
                /*opacity: 50%;*/
                /*cursor: default;*/
                /*transition: none;*/
            }

            .carousel--css-skin-day .carousel__button--prev {
                /*left: 14px;*/
            }

            .carousel--css-skin-day .carousel__button--next {
                /*right: 14px;*/
            }
                .carousel--css-skin-day .carousel__chevron {
                    /*vertical-align: top;*/
                    width: 11px;
                    /*height: auto;*/
                    /*stroke: #303F64;*/
                    /*transition: stroke var(--transition-hover);*/
                }

                .carousel--css-skin-day .carousel__button--prev .carousel__chevron {
                    margin-right: -15px;
                }

                .carousel--css-skin-day .carousel__button--next .carousel__chevron {
                    margin-left: -15px;
                }

                .carousel--css-skin-day .carousel__button:not(.carousel__button--disabled):hover .carousel__chevron {
                    stroke: #303F64;
                }

                .carousel--css-skin-day .carousel__pagination {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto; /* конфликт со стилями свайпера */
                    /* На случай типа fraction: */
                    font-size: 15px;
                    line-height: 20px;
                    color: currentColor;
                    text-align: center;
                }
                    .carousel--css-skin-day .carousel__bullet {
                        flex-shrink: 0;
                        width: 24px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                        .carousel--css-skin-day .carousel__bullet::after {
                            content: "";
                            display: block;
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            background-color: transparent;
                            border: 1px solid #303F64;
                        }

                        .carousel--css-skin-day .carousel__bullet--current::after {
                            background-color: #303F64;
                        }
}



.carousel--css-skin-dates {

}

@media (width < 740px) {

    .carousel--css-skin-dates {
        position: relative;
    }
        .carousel--css-skin-dates .carousel__widget {

        }
            .carousel--css-skin-dates .swiper {

            }
                .carousel--css-skin-dates .swiper-wrapper {

                }


        .carousel--css-skin-dates .carousel__controls {
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .carousel--css-skin-dates .carousel__button {
                width: 40px;
                height: 60px;
                padding: 0;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border-radius: 50%;
                cursor: pointer;
            }

            .carousel--css-skin-dates .carousel__button--disabled {
                background-color: transparent;
                opacity: 50%;
                cursor: default;
                transition: none;
            }

            .carousel--css-skin-dates .carousel__button--prev {
                left: 14px;
            }

            .carousel--css-skin-dates .carousel__button--next {
                right: 14px;
            }
                .carousel--css-skin-dates .carousel__chevron {
                    vertical-align: top;
                    width: 26px;
                    height: auto;
                    stroke: #303F64;
                }

                .carousel--css-skin-dates .carousel__button--prev .carousel__chevron {
                    margin-right: 4px;
                }

                .carousel--css-skin-dates .carousel__button--next .carousel__chevron {
                    margin-left: 4px;
                }

            .carousel--css-skin-dates .carousel__pagination {
                width: auto;
                font-size: 15px;
                line-height: 20px;
                white-space: nowrap;
            }
}

@media (740px <= width) {

    .carousel--css-skin-dates {

    }
        .carousel--css-skin-dates .carousel__widget {

        }
            .carousel--css-skin-dates .swiper {

            }
                .carousel--css-skin-dates .swiper-wrapper {

                }
                    .carousel--css-skin-dates .swiper-slide {
                        width: 342px;
                    }


        .carousel--css-skin-dates .carousel__controls {

        }
            .carousel--css-skin-dates .carousel__button {

            }

            .carousel--css-skin-dates .carousel__button--disabled {

            }

            .carousel--css-skin-dates .carousel__button--prev {

            }

            .carousel--css-skin-dates .carousel__button--next {

            }
                .carousel--css-skin-dates .carousel__chevron {

                }

                .carousel--css-skin-dates .carousel__button--prev .carousel__chevron {

                }

                .carousel--css-skin-dates .carousel__button--next .carousel__chevron {

                }

            .carousel--css-skin-dates .carousel__pagination {

            }
}
