.feed {

}
    .feed__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .feed__filter {
        position: sticky;
        z-index: 10;
        top: var(--header-height);
        padding-top: 16px;
        padding-bottom: 16px;
        margin-top: 8px;
        margin-bottom: -16px;
        background-color: #F9F0E5;
    }

    .feed__list {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 32px 16px;
    }

    .feed__pagination {
        margin-top: 32px;
    }



@media (1700px <= width) {

    .feed {

    }
        .feed__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
        }

        .feed__filter {
            /*position: sticky;*/
            /*z-index: 10;*/
            /*top: var(--header-height);*/
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 20px;
            margin-bottom: -18px;
            /*background-color: #F9F0E5;*/
        }

        .feed__list {
            /*margin-top: 40px;*/
            /*display: grid;*/
            /*grid-template-columns: repeat(3, minmax(0, 1fr));*/
            gap: 40px 24px;
        }

        .feed__pagination {
            margin-top: 40px;
        }
}



@media (width < 740px) {

    .feed {

    }
        .feed__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*text-align: center;*/
        }

        .feed__filter {
            padding-top: 16px;
            padding-bottom: 16px;
            margin-top: 8px;
            margin-bottom: -16px;
        }

        .feed__list {
            margin-top: 40px;
            /*display: grid;*/
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 26px;
        }

        .feed__pagination {
            margin-top: 26px;
        }
}

