.filter {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}
    .filter__handler {
        display: none;
    }

    .filter__dropdown {
        display: flex;
        align-items: center;
        gap: 30px;
    }
        .filter__list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px 20px;
        }
            .filter__item {
                background-color: transparent;
                border: 1px solid currentColor;
                padding: 9px 31px;
                border-radius: 22px;
                font-family: var(--font-heading);
                font-weight: 500;
                font-style: italic;
                font-size: 20px;
                line-height: 24px;
                color: #303F64;
                white-space: nowrap;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;
                transition: background-color var(--transition-hover);
            }

            .filter__item:hover {
                background-color: var(--yellow-action-color-hover);
            }

            .filter__item--current,
            .filter__item--current:hover {
                background-color: #303F64;
                color: #F8F0E5;
                cursor: default;
            }



@media (1850px <= width) {

    .filter {
        /*position: relative;*/
        /*display: flex;*/
        /*align-items: center;*/
        gap: 40px;
    }
        .filter__handler {
            /*display: none;*/
        }

        .filter__dropdown {
            /*display: flex;*/
            /*align-items: center;*/
            gap: 40px;
        }
            .filter__list {
                /*display: flex;*/
                /*align-items: center;*/
                /*gap: 20px;*/
            }
                .filter__item {
                    /*background-color: transparent;*/
                    /*border: 1px solid currentColor;*/
                    padding: 11px 23px;
                    border-radius: 24px;
                    /*font-family: var(--font-heading);*/
                    /*font-weight: 500;*/
                    /*font-style: italic;*/
                    /*font-size: 20px;*/
                    /*line-height: 24px;*/
                    /*color: #303F64;*/
                    /*text-transform: uppercase;*/
                    /*cursor: pointer;*/
                    /*transition: background-color var(--transition-hover);*/
                }

                .filter__item:hover {
                    /*background-color: var(--action-color-hover);*/
                }

                .filter__item--current,
                .filter__item--current:hover {
                    /*background-color: #303F64;*/
                    /*color: #F8F0E5;*/
                    /*cursor: default;*/
                }
}



@media (width < 740px) {

    .filter {

    }
        .filter__handler {

        }
            .filter__chevron {

            }

        .filter__dropdown {

        }
            .filter__list {
                /*display: flex;*/
                /*align-items: center;*/
                /*flex-wrap: wrap;*/
                gap: 10px;
            }
                .filter__item {
                    /*background-color: transparent;*/
                    /*border: 1px solid currentColor;*/
                    padding: 7px 19px;
                    /*border-radius: 22px;*/
                    /*font-family: var(--font-heading);*/
                    /*font-weight: 500;*/
                    /*font-style: italic;*/
                    font-size: 18px;
                    line-height: 22px;
                    /*color: #303F64;*/
                    /*white-space: nowrap;*/
                    /*text-transform: uppercase;*/
                    /*cursor: pointer;*/
                    /*transition: background-color var(--transition-hover);*/
                }

                .filter__item:hover {
                    /*background-color: var(--action-color-hover);*/
                }

                .filter__item--current,
                .filter__item--current:hover {
                    /*background-color: #303F64;*/
                    /*color: #F8F0E5;*/
                    /*cursor: default;*/
                }
}



/* Вариант с выпдайкой на смартфонах */

@media (width < 740px) {

    .filter--responsive {
        /*position: relative;*/
        display: block;
        /*align-items: center;*/
        /*gap: 30px;*/
    }
        .filter--responsive .filter__handler {
            position: relative;
            display: block;
            width: 100%;
            border: none;
            padding: 14px 60px 14px 16px;
            background-color: #303F64;
            border-radius: 25px;
            font-size: 16px;
            line-height: 22px;
            text-align: left;
            color: #FFFFFF;
            cursor: pointer;
        }
            .filter--responsive .filter__chevron {
                position: absolute;
                right: 13px;
                top: 50%;
                margin-top: -12px;
                vertical-align: top;
                width: 24px;
                height: 24px;
                fill: currentColor;
            }

        .filter--responsive .filter__dropdown {
            display: none;
            box-shadow: inset 0 0 0 1px #F8F0E5;
            border-radius: 25px;
            margin-top: -50px;
            padding-top: 60px;
            padding-bottom: 10px;
            /*align-items: center;*/
            /*gap: 30px;*/
        }

        .filter--responsive.filter--expanded .filter__dropdown {
            display: block;
        }
            .filter--responsive .filter__list {
                /*display: flex;*/
                /*align-items: center;*/
                /*flex-wrap: wrap;*/
                gap: 10px;
            }
                .filter--responsive .filter__item {
                    /*background-color: transparent;*/
                    /*border: 1px solid currentColor;*/
                    padding: 7px 19px;
                    /*border-radius: 22px;*/
                    /*font-family: var(--font-heading);*/
                    /*font-weight: 500;*/
                    /*font-style: italic;*/
                    font-size: 18px;
                    line-height: 22px;
                    /*color: #303F64;*/
                    /*white-space: nowrap;*/
                    /*text-transform: uppercase;*/
                    /*cursor: pointer;*/
                    /*transition: background-color var(--transition-hover);*/
                }

                .filter--responsive .filter__item:hover {
                    /*background-color: var(--action-color-hover);*/
                }

                .filter--responsive .filter__item--current,
                .filter--responsive .filter__item--current:hover {
                    /*background-color: #303F64;*/
                    /*color: #F8F0E5;*/
                    /*cursor: default;*/
                }
}

