.find {
    height: 42px;
    background-color: pink;
}

@media (1700px <= width) {
    .find {
        height: 52px;
    }
}

@media (width < 740px) {
    .find {
        width: 50px;
        height: 76px;
    }
}
