.fold {

}
    .fold__main {
        position: relative;
    }
        .fold__stage {
            float: left;
            width: 384px;
        }
            .fold__preview {

            }
                .fold__image {
                    vertical-align: top;
                    width: 100%;
                    height: auto;
                    background-color: var(--image-fallback);
                }

            .fold__buy {
                margin-top: 16px;
            }
                .fold__buy.button,
                .fold__buy .button {
                    width: 100%;
                }

        .fold__head {
            float: left;
            width: 800px;
            padding-left: 18px;
        }
            .fold__author {
                font-size: 20px;
                line-height: 24px;
                color: #6073A2;
            }

            .fold__title {
                margin-top: 20px;
                margin-bottom: 0;
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
                color: #303F64;
            }

        .fold__summary {
            float: left;
            width: 800px;
            padding-left: 18px;
        }
            .fold__stats {
                margin-top: 40px;
            }
                .fold__row {
                    margin-top: 20px;
                    display: flex;
                    align-items: flex-start;
                    gap: 12px;
                }

                .fold__row:first-child {
                    margin-top: 0;
                }
                    .fold__param {
                        flex-shrink: 0;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        text-transform: uppercase;
                        color: #9C9CC5;
                    }

                    .fold__value {
                        flex-grow: 1;
                        font-size: 16px;
                        line-height: 22px;
                        text-transform: uppercase;
                    }

            .fold__description {
                margin-top: 30px;
            }


    .fold__literature {
        margin-top: 60px;
    }

    .fold__related {
        margin-top: 80px;
    }



@media (1700px <= width) {

    .fold {

    }
        .fold__main {

        }
            .fold__stage {

            }
                .fold__preview {

                }
                    .fold__image {
                        /*vertical-align: top;*/
                        /*width: 100%;*/
                        /*height: auto;*/
                        /*background-color: var(--image-fallback);*/
                    }

                .fold__buy {
                    margin-top: 23px;
                }
                    .fold__buy.button,
                    .fold__buy .button {
                        /*width: 100%;*/
                    }

            .fold__head {
                width: 952px;
                padding-left: 24px;
            }
                .fold__author {
                    font-size: 24px;
                    line-height: 29px;
                    /*color: #6073A2;*/
                }
                    .fold__title {
                        margin-top: 24px;
                        /*margin-bottom: 0;*/
                        /*font-weight: 600;*/
                        font-size: 32px;
                        line-height: 38px;
                        /*color: #303F64;*/
                    }

            .fold__summary {
                width: 952px;
                padding-left: 24px;
            }
                .fold__stats {
                    margin-top: 43px;
                }
                    .fold__row {
                        margin-top: 24px;
                        /*display: flex;*/
                        /*align-items: flex-start;*/
                        gap: 16px;
                    }

                    .fold__row:first-child {
                        /*margin-top: 0;*/
                    }
                        .fold__param {
                            /*flex-shrink: 0;*/
                            /*font-weight: normal;*/
                            font-size: 18px;
                            line-height: 25px;
                            /*text-transform: uppercase;*/
                            /*color: #9C9CC5;*/
                        }

                        .fold__value {
                            /*flex-grow: 1;*/
                            font-size: 18px;
                            line-height: 25px;
                            /*text-transform: uppercase;*/
                        }

                .fold__description {
                    margin-top: 40px;
                }


        .fold__literature {
            margin-top: 74px;
        }

        .fold__related {
            margin-top: 100px;
        }
}



@media (width < 740px) {

    .fold {

    }
        .fold__main {
            /*position: relative;*/
            display: flex;
            flex-direction: column;
        }
            .fold__stage {
                margin-top: 24px;
                float: none;
                width: auto;
                max-width: 340px;
            }
                .fold__preview {

                }
                    .fold__image {
                        /*vertical-align: top;*/
                        /*width: 100%;*/
                        /*height: auto;*/
                        /*background-color: var(--image-fallback);*/
                    }

                .fold__buy {
                    /*margin-top: 16px;*/
                }
                    .fold__buy.button,
                    .fold__buy .button {
                        /*width: 100%;*/
                    }

            .fold__head {
                order: -1;
                float: none;
                width: auto;
                padding-left: 0;
            }
                .fold__author {
                    font-size: 18px;
                    line-height: 22px;
                    /*color: #6073A2;*/
                }

                .fold__title {
                    margin-top: 16px;
                    /*margin-bottom: 0;*/
                    /*font-weight: 600;*/
                    font-size: 24px;
                    line-height: 29px;
                    /*color: #303F64;*/
                }

            .fold__summary {
                float: none;
                width: auto;
                padding-left: 0;
                margin-top: 40px;
            }
                .fold__stats {
                    margin-top: 0;
                }
                    .fold__row {
                        /*margin-top: 20px;*/
                        display: block;
                        /*align-items: flex-start;*/
                        /*gap: 12px;*/
                    }

                    .fold__row:first-child {
                        /*margin-top: 0;*/
                    }
                        .fold__param {
                            display: block;
                            /*flex-shrink: 0;*/
                            /*font-weight: normal;*/
                            /*font-size: 16px;*/
                            /*line-height: 22px;*/
                            /*text-transform: uppercase;*/
                            /*color: #9C9CC5;*/
                        }

                        .fold__value {
                            margin-top: 4px;
                            display: block;
                            /*flex-grow: 1;*/
                            /*font-size: 16px;*/
                            /*line-height: 22px;*/
                            /*text-transform: uppercase;*/
                        }

                .fold__description {
                    margin-top: 40px;
                }


        .fold__literature {
            margin-top: 50px;
        }

        .fold__related {
            margin-top: 60px;
        }
}

