.footer {
    background-color: #303F64;
    color-scheme: dark;
    color: #EBD7B2;
}
    .footer__primary {
        padding-top: 20px;
        padding-bottom: 52px;
        columns: 4;
        break-inside: avoid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 40px;
    }
        .footer__section {
            margin-top: 14px;
            display: inline-block;
            vertical-align: top;
        }
            .footer__handler {
                display: block;
                width: fit-content;
                padding-top: 7px;
                padding-bottom: 7px;
                font-family: var(--font-heading);
                font-style: italic;
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                text-transform: uppercase;
                color: inherit;
                text-decoration: 1px underline transparent;
                text-underline-offset: 4px;
                transition: text-decoration-color var(--transition-hover);
            }

            .footer__handler:hover {
                text-decoration-color: currentColor;
            }

            .footer__dropdown {

            }
                .footer__link {
                    display: block;
                    width: fit-content;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;
                    color: inherit;
                    text-decoration: 1px underline transparent;
                    text-underline-offset: 4px;
                    transition: text-decoration-color var(--transition-hover);
                }

                .footer__link:hover {
                    text-decoration-color: currentColor;
                }

                .footer__link--heading {
                    margin-top: 14px;
                }

    .footer__addition {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #F8F0E5;
        padding-top: 39px;
        padding-bottom: 46px;
        color: #F8F0E5;
    }
        .footer__legalities {
            display: flex;
            align-items: center;
            gap: 40px;
        }
            .footer__item {
                font-size: 16px;
                line-height: 22px;
            }

        .footer__developer {

        }



@media (1700px <= width) {

    .footer__primary {
        gap: 90px;
    }

    .footer__link {
        font-size: 20px;
        line-height: 27px;
    }

    .footer__handler {
        font-size: 22px;
        line-height: 26px;
    }
}




@media (width < 740px) {

    .footer {
        /*background-color: #303F64;*/
        /*color-scheme: dark;*/
        /*color: #EBD7B2;*/
    }
        .footer__primary {
            padding-top: 14px;
            padding-bottom: 50px;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two equal columns */
            grid-auto-flow: column;
            gap: 0 16px;
        }
            .footer__half {

            }
                .footer__section {
                    margin-top: 18px;
                }
                    .footer__handler {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        /*width: fit-content;*/
                        /*padding-top: 7px;*/
                        /*padding-bottom: 7px;*/
                        /*font-family: var(--font-heading);*/
                        /*font-style: italic;*/
                        /*font-weight: bold;*/
                        font-size: 16px;
                        line-height: 19px;
                        /*text-transform: uppercase;*/
                        /*color: inherit;*/
                        /*text-decoration: 1px underline transparent;*/
                        /*text-underline-offset: 4px;*/
                        /*transition: text-decoration-color var(--transition-hover);*/
                    }

                    .footer__handler:hover {
                        /*text-decoration-color: currentColor;*/
                    }

                    .footer__section:has(.footer__dropdown) .footer__handler::after {
                        content: "";
                        flex-shrink: 0;
                        display: block;
                        margin-top: -3px;
                        margin-bottom: -3px;
                        width: 24px;
                        height: 24px;
                        background-image: url("../vectors/footer-handler.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        transition: transform 400ms ease;
                    }

                    .footer__section--expanded .footer__handler::after {
                        transform: scaleY(-1);
                    }

                    .footer__dropdown {
                        display: none;
                    }

                    .footer__section--expanded .footer__dropdown {
                        display: block;
                        animation: var(--slide-bottom);
                    }
                        .footer__link {
                            /*display: block;*/
                            /*width: fit-content;*/
                            /*padding-top: 7px;*/
                            /*padding-bottom: 7px;*/
                            /*font-weight: 600;*/
                            /*font-size: 18px;*/
                            /*line-height: 25px;*/
                            /*color: inherit;*/
                            /*text-decoration: 1px underline transparent;*/
                            /*text-underline-offset: 4px;*/
                            /*transition: text-decoration-color var(--transition-hover);*/
                        }

                        .footer__link:hover {
                            /*text-decoration-color: currentColor;*/
                        }

                        .footer__link--heading {
                            /*margin-top: 14px;*/
                        }

        .footer__addition {
            display: block;
            /*justify-content: space-between;*/
            /*align-items: center;*/
            /*border-top: 1px solid #F8F0E5;*/
            padding-top: 24px;
            padding-bottom: 31px;
            /*color: #F8F0E5;*/
        }
            .footer__legalities {
                display: block;
                /*align-items: center;*/
                /*gap: 40px;*/
            }
                .footer__item {
                    margin-top: 12px;
                    font-size: 12px;
                    line-height: 15px;
                }

                .footer__item:first-child {
                    margin-top: 0;
                }

            .footer__developer {
                margin-top: 20px;
                width: fit-content;
                margin-left: auto;
            }
}

