.library {

}
    .library__heading {
        text-align: center;
    }

    .library__body {
        margin-top: 30px;
    }
        .library__section {
            margin-top: 60px;
        }

        .library__section:first-child {
            margin-top: 0;
        }



@media (1700px <= width) {

    .library {

    }
        .library__heading {
            /*text-align: center;*/
        }

        .library__body {
            margin-top: 40px;
        }
            .library__section {
                margin-top: 80px;
            }

            .library__section:first-child {
                /*margin-top: 0;*/
            }
}



@media (width < 740px) {

    .library {

    }
        .library__heading {

        }

        .library__body {

        }
            .library__section {

            }
}

