.menu {
    position: fixed;
    z-index: 400;
    left: 0;
    right: 0;
    top: calc(var(--header-height) - 58px);
    padding-bottom: 34px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-height: calc(100vh - var(--header-height) + 58px);
    overflow-y: auto;
    display: none;
}

.burger-expanded .menu {
    display: block;
    animation: var(--slide-bottom-faster);
}
    .menu__close {
        position: absolute;
        right: 0;
        top: 0;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
        .menu__cross {
            vertical-align: top;
            fill: #303F64;
            width: 22px;
            height: 22px;
        }

        .menu__close:hover .menu__cross {
            fill: #000000;
        }


@media (1700px <= width) {

    .menu {
        top: calc(var(--header-height) - 78px);
        padding-bottom: 59px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        max-height: calc(100vh - var(--header-height) + 78px);
    }
        .menu__close {
            width: 68px;
            height: 68px;
        }
            .menu__cross {
                width: 28px;
                height: 28px;
            }
}
