.nav {
    columns: 4;
    break-inside: avoid;
    gap: 40px;
}
    .nav__half {

    }
        .nav__section {
            margin-top: 14px;
            display: inline-block;
            vertical-align: top;
        }
            .nav__handler {
                display: block;
                width: fit-content;
                padding-top: 7px;
                padding-bottom: 7px;
                font-family: var(--font-heading);
                font-style: italic;
                font-weight: bold;
                font-size: 20px;
                line-height: 23px;
                text-transform: uppercase;
                color: inherit;
                text-decoration: 1px underline transparent;
                text-underline-offset: 4px;
                transition: text-decoration-color var(--transition-hover);
            }

            .nav__handler:hover {
                text-decoration-color: currentColor;
            }

            .nav__dropdown {

            }
                .nav__link {
                    display: block;
                    width: fit-content;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;
                    color: inherit;
                    text-decoration: 1px underline transparent;
                    text-underline-offset: 4px;
                    transition: text-decoration-color var(--transition-hover);
                }

                .nav__link:hover {
                    text-decoration-color: currentColor;
                }

                .footer__link--heading {
                    margin-top: 14px;
                }


.nav--header {

}
    .nav--header .nav__handler {
        color: #303F64;
    }

    .nav--header .nav__link {
        color: #6073A2;
    }


@media (1700px <= width) {

    .nav {
        gap: 90px;
    }

    .nav__link {
        font-size: 20px;
        line-height: 27px;
    }

    .nav__handler {
        font-size: 22px;
        line-height: 26px;
    }
}




@media (width < 740px) {

    .nav {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two equal columns */
        grid-auto-flow: column;
        gap: 0 16px;
    }
        .nav__half {

        }
            .nav__section {
                margin-top: 18px;
                width: 100%;
            }
                .nav__handler {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    width: 100%;
                    /*width: fit-content;*/
                    /*padding-top: 7px;*/
                    /*padding-bottom: 7px;*/
                    /*font-family: var(--font-heading);*/
                    /*font-style: italic;*/
                    /*font-weight: bold;*/
                    font-size: 16px;
                    line-height: 19px;
                    /*text-transform: uppercase;*/
                    /*color: inherit;*/
                    /*text-decoration: 1px underline transparent;*/
                    /*text-underline-offset: 4px;*/
                    /*transition: text-decoration-color var(--transition-hover);*/
                }

                .nav__handler:hover {
                    /*text-decoration-color: currentColor;*/
                }

                .nav__section:has(.nav__dropdown) .nav__handler::after {
                    content: "";
                    flex-shrink: 0;
                    margin-top: -3px;
                    margin-bottom: -2px;
                    width: 24px;
                    height: 24px;
                    background-image: url("../vectors/nav-handler.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    transition: transform 400ms ease;
                }

                .footer__section--expanded .nav__handler::after {
                    transform: scaleY(-1);
                }

                .nav__dropdown {
                    display: none;
                }

                .nav__section--expanded .nav__dropdown {
                    display: block;
                    animation: var(--slide-bottom-faster);
                }
                    .nav__link {
                        /*display: block;*/
                        /*width: fit-content;*/
                        /*padding-top: 7px;*/
                        /*padding-bottom: 7px;*/
                        /*font-weight: 600;*/
                        /*font-size: 18px;*/
                        /*line-height: 25px;*/
                        /*color: inherit;*/
                        /*text-decoration: 1px underline transparent;*/
                        /*text-underline-offset: 4px;*/
                        /*transition: text-decoration-color var(--transition-hover);*/
                    }

                    .nav__link:hover {
                        /*text-decoration-color: currentColor;*/
                    }

                    .footer__link--heading {
                        /*margin-top: 14px;*/
                    }

    .nav--header {
        display: block;
        columns: unset;
    }
        .nav--header .nav__half {
            display: block;
        }
            .nav--header .nav__section {
                margin-top: 0;
            }
                .nav--header .nav__handler {
                    gap: 16px;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    font-size: 18px;
                    line-height: 22px;
                    color: #303F64;
                }
                    .nav--header .nav__section:has(.nav__dropdown) .nav__handler::after {
                        background-image: url("../vectors/nav-handler-header.svg");
                    }

                    .nav--header .nav__dropdown {
                        padding-bottom: 8px;
                    }
                        .nav--header .nav__link {
                            padding-top: 6px;
                            padding-bottom: 6px;
                            font-size: 15px;
                            line-height: 20px;
                        }
}


