.spectacle {

}
    .spectacle__section {
        margin-top: 60px;
        position: relative;
    }

    .spectacle__section:first-child {
        margin-top: 0;
    }
        .spectacle__section-heading {
            margin-top: 0;
            margin-bottom: 0;
            color: #E4BB6B;
        }

        .spectacle__widget {
            margin-top: 24px;
        }

        .spectacle__widget:first-child {
            margin-top: 0;
        }



@media (1700px <= width) {

    .spectacle {

    }
        .spectacle__section {
            margin-top: 80px;
        }
            .spectacle__section-heading {

            }

            .spectacle__widget {
                margin-top: 30px;
            }
}



@media (width < 740px) {

    .spectacle {

    }
        .spectacle__section {
            margin-top: 50px;
        }
            .spectacle__section-heading {

            }

            .spectacle__widget {

            }
}

