<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>«Большие гастроли» театра драмы имени Федора Волкова в Абхазии </title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->


        <div class="page">
            <header class="header">

            </header>
            <div class="content container">
                <div class="content__breadcrumbs">
                    <nav class="breadcrumbs">
                        <div class="breadcrumbs__scroll hide-scrollbar">
                            <div class="breadcrumbs__ribbon">
                                <div class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" href="index.html">Главная</a>
                                </div>
                                <div class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" href="#">Волковская энциклопедия</a>
                                </div>
                                <div class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" href="#">Гастроли</a>
                                </div>
                                <div class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" href="#">Гастроли по России и СССР</a>
                                </div>
                                <div class="breadcrumbs__item">
                                    <div class="breadcrumbs__title">«Большие гастроли» театра драмы имени Федора Волкова в Абхазии</div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="content__unique-part">
                    <article class="tour-item">
                        <div class="tour-item__heading">
                            <h1 class="title title--main">
                                «Большие гастроли» театра драмы имени Федора Волкова в Абхазии
                            </h1>
                        </div>
                        <time class="tour-item__date" datetime="2018-07-07">
                            13 июня 2024
                        </time>
                        <div class="tour-item__content">
                            <div class="wysiwyg">
                                <p>Со 2 по 5 мая 2022 года состоятся «Большие гастроли» первого русского профессионального театра – Российского государственного академического театра драмы имени Федора Волкова (г. Ярославль) – в Республике Абхазия, организованные ФГБУК РОСКОНЦЕРТ согласно Всероссийскому гастрольно-концертному плану Министерства культуры Российской Федерации. В рамках зарубежного направления «Больших гастролей» на сцене Государственного русского театра драмы им. Ф.А. Искандера (г. Сухум) пройдут показы спектаклей: В. Шукшин «Калина красная», И. Глинков «Предстоящее событие», Я. Пулинович «Земля Эльзы», О. Грисевич «От Некрасова до Некрасова».</p>
                                <p>Зрители Республики Абхазия смогут познакомиться с репертуаром старейшего театра России – академического театра драмы имени Федора Волкова. В афишу гастролей включены разноплановые по жанру и тематике спектакли: комедии, драма, мюзикл. В постановках заняты ведущие артисты волковской труппы, многие из которых знакомы зрителям по работе в кино и телесериалах.</p>
                                <p>«Всероссийский гастрольно-концертный план зарекомендовал себя как важный и востребованный проект в современной культуре. География плана, включающая выступления театров, а также национальных творческих коллективов страны, постоянно расширяется, вовлекая все больше новых участников в гастрольно-концертную деятельность», – отметила Министр культуры Российской Федерации Ольга Любимова.<br>Она подчеркнула, что одна из целей проекта – сохранение и популяризация народного творчества и театрального искусства, что особенно актуально в 2022 году, который объявлен Годом народного искусства и нематериального культурного наследия народов России. По ее словам, важно, чтобы все жители многонациональной страны имели возможность знакомиться с лучшими достижениями отечественного и зарубежного театрального, а также профессионального народного искусства.</p>
                            </div>
                        </div>
                        <div class="tour-item__spectacle">
                            <article class="show">
                                <div class="show__heading">
                                    <h2 class="title title--secondary">
                                        Василий Шукшин «Калина красная» (16+)
                                    </h2>
                                </div>
                                <div class="show__note">
                                    37 сцен в поисках праздника. Режиссёр Владимир Смирнов (Данай)
                                </div>
                                <div class="show__team-heading">
                                    <h3 class="title title--tertiary">
                                        Постановочная группа
                                    </h3>
                                </div>
                                <div class="show__team-list">
                                    <ul class="list">
                                        <li class="list__item">автор сценической композиции и режиссер-постановщик Владимир Смирнов (Данай)</li>
                                        <li class="list__item">художник-постановщик Ольга Кузнецова</li>
                                        <li class="list__item">художник по свету Иван Виноградов</li>
                                        <li class="list__item">музыкальное оформление Игорь Есипович</li>
                                    </ul>
                                </div>
                                <div class="show__content">
                                    <div class="wysiwyg">
                                        <p>Режиссёр Владимир Данай не копирует знаменитый фильм Шукшина. В спектакле он находит новые штрихи и краски, прочитывая киноповесть «Калина красная» с позиций сегодняшнего дня. Яркие, образные декорации, интересное световое и музыкальное оформление помогают зрителю погрузиться в атмосферу спектакля.</p>
                                        <p>Фильм «Калина красная» Василия Шукшина стал самой пронзительной его работой. Василий Макарович сам писал сценарий, был режиссёром картины и сыграл в ней главную роль. В 1974 году, когда фильм вышел на экраны, его посмотрели более 62 миллионов человек. По опросу зрителей он был признан лучшим фильмом года.</p>
                                        <p>Время показало, что история, рассказанная Василием Шукшиным, за прошедшие десятилетия нисколько не устарела. Вопросы, которые мастер ставил почти полвека назад, актуальны и сегодня. Каждый человек совершает ошибки, и для того, кто сохранил в душе хотя бы крупицы совести, обязательно наступает момент, когда приходит прозрение. Есть ли у человека шанс изменить свою жизнь – об этом спектакль «Калина красная».</p>
                                        <p>Несмотря на весь драматизм, спектакль «Калина красная» наполнен очищающим душу лиризмом, тонкой иронией и верой в русского человека. Сердце его не зачерствело и не озлобилось, способно искренне любить близких и свою родину, стремится к жизни по человеческим законам в соответствии с совестью.</p>
                                        <p>Постановка привлекает и великолепными актёрскими работами. Исполнитель роли Егора Прокудина актёр Сергей Шарифуллин за эту работу в марте 2021 года был удостоен Ярославской областной театральной премии имени народного артиста СССР Сергея Тихонова и народной артистки РСФСР Наталии Терентьевой. Актриса Анна Ткачёва, сыгравшая Любу Байкалову, также была номинирована на эту премию за лучшую женскую роль.</p>
                                        <p>Актерский состав: Сергей Шарифуллин (Егор Прокудин), Анна Ткачёва (Люба Байкалова), Галина Ефанова (мать Любы), Олег Новиков (отец Любы), Руслан Халюзов (Петро, брат Любы), Яна Иващенко (Зоя, жена Петра), Юрий Круглов (Директор совхоза), Юлия Знакомцева (Люсьен), Андрей Зубков (Официант, Начальник колонии), Николай Кудымов (Губошлёп), Илья Варанкин (Бульдог, Колька, муж Любы), Елена-Ярослава Мазо (Вера), Ануар Султанов (Парень), Елена Сусанина (Куделиха, мать Егора). Также в спектакле принимают участие: заслуженный артист России Валерий Смирнов, заслуженный артист России Валерий Соколов, Анатолий Пешков, Виктор Курышев.</p>
                                        <p>Продолжительность спектакля 2 часа 20 минут с антрактом.</p>
                                    </div>
                                </div>
                                <div class="show__actors-heading">
                                    <h3 class="title title--tertiary">
                                        Актерский состав
                                    </h3>
                                </div>
                                <div class="show__actors-list">
                                    <ul class="list">
                                        <li class="list__item">Сергей Шарифуллин (Егор Прокудин)</li>
                                        <li class="list__item">Анна Ткачёва (Люба Байкалова)</li>
                                        <li class="list__item">Галина Ефанова (мать Любы)</li>
                                        <li class="list__item">Олег Новиков (отец Любы)</li>
                                        <li class="list__item">Руслан Халюзов (Петро, брат Любы)</li>
                                        <li class="list__item">Яна Иващенко (Зоя, жена Петра)</li>
                                        <li class="list__item">Юрий Круглов (Директор совхоза)</li>
                                        <li class="list__item">Юлия Знакомцева (Люсьен)</li>
                                        <li class="list__item">Андрей Зубков (Официант, Начальник колонии)</li>
                                        <li class="list__item">Николай Кудымов (Губошлёп)</li>
                                        <li class="list__item">Илья Варанкин (Бульдог, Колька, муж Любы)</li>
                                        <li class="list__item">Елена-Ярослава Мазо (Вера)</li>
                                        <li class="list__item">Ануар Султанов (Парень)</li>
                                        <li class="list__item">Елена Сусанина (Куделиха, мать Егора)</li>
                                    </ul>
                                </div>
                                <div class="show__participants-heading">
                                    Также в спектакле принимают участие:
                                </div>
                                <div class="show__participants-list">
                                    <ul class="list">
                                        <li class="list__item">заслуженный артист России Валерий Смирнов</li>
                                        <li class="list__item">заслуженный артист России Валерий Соколов</li>
                                        <li class="list__item">Анатолий Пешков, Виктор Курышев.</li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </div>
            <footer class="footer">

            </footer>
        </div>



        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
