<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Гастроли по россии и ссср</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- assets -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/styles.css">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->


        <div class="page">
            <header class="header">

            </header>
            <div class="content container">
                <div class="content__breadcrumbs">
                    <nav class="breadcrumbs">
                        <div class="breadcrumbs__scroll hide-scrollbar">
                            <div class="breadcrumbs__ribbon">
                                <div class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" href="#">Главная</a>
                                </div>
                                <div class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" href="#">Волковская энциклопедия</a>
                                </div>
                                <div class="breadcrumbs__item">
                                    <a class="breadcrumbs__link" href="#">Гастроли</a>
                                </div>
                                <div class="breadcrumbs__item">
                                    <div class="breadcrumbs__title">Гастроли по России и СССР</div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="content__unique-part">
                    <div class="tours-category">
                        <div class="tours-category__heading">
                            <h1 class="title title--main"></h1>
                        </div>
                        <div class="tours-category__list">

                        </div>
                        <div class="tours-category__pagination">
                            <div class="pagination">
                                <div class="pagination__ribbon">
                                    <a class="pagination__link pagination__link--arrow" href="#">
                                        <svg class="pagination__icon" xmlns="http://www.w3.org/2000/svg" width="27" height="17" fill="none" viewBox="0 0 27 17">
                                            <path d="M26.5 8.452h-25m0 0c4.915 2.783 11.41 3.896 10.897 8.348M1.5 8.452C4.278 7.292 10.09 4.14 11.115.8"></path>
                                        </svg>
                                    </a>
                                    <a class="pagination__link pagination__link--current" href="#">1</a>
                                    <a class="pagination__link" href="#">2</a>
                                    <a class="pagination__link" href="#">3</a>
                                    <a class="pagination__link" href="#">4</a>
                                    <a class="pagination__link pagination__link--arrow" href="#">
                                        <svg class="pagination__icon" xmlns="http://www.w3.org/2000/svg" width="27" height="17" fill="none" viewBox="0 0 27 17">
                                            <path d="M.5 8.548h25m0 0C20.585 5.765 14.09 4.652 14.603.2M25.5 8.548c-2.778 1.16-8.59 4.313-9.615 7.652"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">

            </footer>
        </div>



        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>
        <script src="../vendors/inputmask/jquery.inputmask.min.js"></script>
        <script src="../vendors/inputmask.phone/inputmask.phone.extensions.min.js"></script>
        <script src="../vendors/inputmask.phone/phone-codes/phone-ru.min.js"></script>
        <script src="../scripts/scripts.js"></script>

    </body>
</html>
